canvas {
  border: 1px #444 solid;
  display: inline-block;
  height: 1000px;
  width: 1000px;  
}

.canvas-square {
  height: 100px;
  width: 100px;
  border: 1px #444 solid;
  display: inline-block;
}

.square-name {
  font-family: verdana;
  font-size: 11px;
  color: darkblue;
  padding: 2px;
  position: absolute;
}

.piece {
  position: relative;
  top: 10px;
  left: 10px;
  width: 75px;
  height: 75px;
}

.over {
  box-sizing: border-box;
  border: 5px grey solid; 
}